<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap3/css/bootstrap.css" />

<div class='row'>


	<{if $file_mode=='picture'}>
	<{*  圖檔 *}>
	<div class='col-xs-12 text-center'> <img class='img-responsive' src='<{$file}>'></div><div><{  $all.memo}></div>
	<{/if}>

	<{if $file_mode=='scratch'}>
	<{*  scratch *}>
	<div   class='col-xs-12 text-center'>

		<div id="flashContent" >

		Scratch 一套使用拖拉拼湊就可以寫程式的工具，很好玩的程式軟體。<a href='https://scratch.mit.edu/' target='_blank'>官方網站</a><br /><br />
		<a href='<{$file}>'>作品下載</a><br />
		使用說明：<br />
		<{$all.memo}>
		</div>
		<div class='row'>
			<div class="embed-responsive embed-responsive-16by9">
			    <iframe class="embed-responsive-item" src="<{$xoops_url}>/modules/es_exam/images/Scratch.swf?project=<{$file}>&autostart=flase"></iframe>
			</div>
		</div>

	</div>
	<{/if}>

	<{if $file_mode=='flash'}>
	<{*  flash *}>

	<div class='col-xs-12 text-center'>
		<div id="flashContent" ><{  $all.memo}></div>
		<div class='row'>
			<div class="embed-responsive embed-responsive-16by9">
			    <iframe class="embed-responsive-item" src="<{$file}>?autostart=flase"></iframe>
			</div>
		</div>

	</div>
	<{/if}>

	<{if $file_mode=='pdf'}>
 	<{*  pdf *}>

 	<div class='col-xs-12 text-center'>
 		<div id="pdfContent" ><a href="<{$file}>" target="_blank">下載檔案</a>.</p> <p> <{  $all.memo}></p></div>
		<div class="embed-responsive embed-responsive-16by9">
	       <object class="embed-responsive-item" data="<{$file}>" type="application/pdf" internalinstanceid="9" title="">
	           <p>Your browser isn't supporting embedded pdf files. You can download the file
	               <a href="<{$file}>">here</a>.</p>
	       </object>
	    </div>

 	</div>
 	<{/if}>
</div>
