<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap3/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap3/css/bootstrap-responsive.css" />

<div class='row'>


	<{if $file_mode=='picture'}>
	<{*  圖檔 *}>
	<div class='col-md-12 text-center'> <img src='<{$file}>'></div><div><{  $all.memo}></div>
	<{/if}>

	<{if $file_mode=='scratch'}>
	<{*  scratch *}>
	<div class='col-md-12'>
		<div class='col-md-8 text-right'>
		<div id="flashContent" ></div>
		</div>
		Scratch 一套使用拖拉拼湊就可以寫程式的工具，很好玩的程式軟體。<a href='https://scratch.mit.edu/' target='_blank'>官方網站</a><br /><br />
		<a href='<{$file}>'>作品下載</a><br />
		使用說明：<br />
		<{  $all.memo}>
		<script type="text/javascript" src="<{$xoops_url}>/modules/es_exam/swfobject.js"></script>
		<script type="text/javascript">
		var flashvars = {
		  project: "<{$file}>" ,
		  autostart: "false"
		};

		var params = {

		  allowScriptAccess: "always",
		  allowFullScreen: "true",
		  wmode: "window",
		  menu:"‘false"
		};
		var attributes = {};
		swfobject.embedSWF("<{$xoops_url}>/modules/es_exam/images/Scratch.swf", "flashContent", "482", "387", "10.2.0","<{$xoops_url}>/modules/es_exam/images/expressInstall.swf", flashvars, params, attributes);
		</script>
	</div>
	<{/if}>

	<{if $file_mode=='flash'}>
	<{*  flash *}>

	<div class='col-md-12 text-center'>
		<div id="flashContent" ></div>
		<{  $all.memo}></div>
		<script type="text/javascript" src="<{$xoops_url}>/modules/es_exam/swfobject.js"></script>
		<script type="text/javascript">
		var flashvars = {
 		  autostart: "false"
		};

		var params = {

		  allowScriptAccess: "always",
		  allowFullScreen: "true",
		  wmode: "window",
		  menu:"‘false"
		};
		var attributes = {};
		swfobject.embedSWF("<{$file}>", "flashContent", "482", "387", "10.2.0","<{$xoops_url}>/modules/es_exam/images/expressInstall.swf", flashvars, params, attributes);
		</script>
	</div>
	<{/if}>


</div>
